[logger]
; Qt Filter rules
; Value: [<category>|*][.debug|.info|.warning|.critical]=true|false;...
; Reference: https://doc.qt.io/qt-5/qloggingcategory.html#setFilterRules
filter_rules = "*.debug=true"

; Qt Message pattern
; Value: default|
;    [%{appname}] [%{category}] [%{file}] [%{function}] [%{line}] [%{message}]
;    [%{pid}] [%{threadid}] [%{qthreadptr}] [%{type}]
;    [%{time process}] [%{time boot}] [%{time [format]}]
;    [%{backtrace [depth=N] [separator="..."]}]
;    [%{if-[debug|info|warning|fatal|*]} ... %{endif}]
; Reference: https://doc.qt.io/qt-5/qtgvlobal.html#qSetMessagePattern
; message_pattern = default
message_pattern = "%{time yyyyMMdd h:mm:ss.zzz t} %{file}:%{line} %{message}"

; Filter with regular expression
; Value: <regexp>
regexp_filter = "^net.*"

; Sink into standard output stream
; Value: true|false
stdout = false

; Sink into standard error stream
; Value: true|false
stderr = false

; Sink into standard platform output (Android Log or MacOS/iOS Log or stderr)
; Value: true|false
platform_std_log = true

; Sink into Syslog
; Value: <string>
syslog_ident = "myapp"

; Sink into Systemd Journal
; Value: true|false
sdjournal = false

; Sink into file
; Value: <string>
path = "myapp.log"

; Maximum rotating file size
; Value: <int>
max_file_size = 1048576

; Maximum rotating file count
; Value: <int>
max_file_count = 5

; Rotate log file on application startup
; Value: true|false
rotate_on_startup = true

; Rotate log file daily
; Value: true|false
rotate_daily = false

; Compress rotated log files to .gz format
; Value: true|false
compress_old_files = false

; Send message to HTTP server
; Value: <string>
http_url = "http://127.0.0.1:8085/log/message"

; Message format for HTTP sink
; Value: raw|default|json
http_msg_format = json

; Run the logger in its own thread
; Value: true|false
async = true
